ext/marketplacewebservices/web/webroot/xsd/ComToCRmV6.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="responseMaster">
		<xs:complexType>
			<xs:sequence> 
				<xs:element name="ResponseTickets" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" type="xs:string" name="OrderRefNum" />
							<xs:element maxOccurs="1" minOccurs="1" type="xs:string" name="TransactionId" />
							<xs:element maxOccurs="1" minOccurs="0" type="xs:string" name="Serviceability" />
							<xs:element maxOccurs="1" minOccurs="1" type="xs:string" name="Valid_Flag" />
							<xs:element maxOccurs="1" minOccurs="0" type="xs:string" name="Remarks" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
