ext/marketplacewebservices/web/webroot/xsd/webform_Ticket_status_crm_to_ecommV1.0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" type="xs:string" name="CRMTicketId"/>
        <xs:element maxOccurs="1" minOccurs="1" type="xs:string" name="ecommRequestId"/>
        <xs:element maxOccurs="1" minOccurs="1" type="xs:string" name="status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>​