ext/marketplacewebservices/web/webroot/xsd/webform_Duplicate_ticket_response_crm_to_ecomm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CrmToEcommDuplicateResp">
		<xs:complexType>
			<xs:sequence> 
				<xs:element maxOccurs="1" minOccurs="1" type="xs:string" name="TicketPresent"/>
				<xs:element maxOccurs="1" minOccurs="0" type="xs:string" name="CRMTicketId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>